
/*======================================
        Color's Variables
=======================================*/

$BG-Linear-Gradiant: linear-gradient(180deg, #4B3C04 0%, #FFFFFF 100%);
$White-10: rgba(255, 255, 255, 0.1);
$White-45: rgba(255, 255, 255, 0.45);
$White-75: rgba(255, 255, 255, 0.75);
$White-Color: #FFFFFF;
$Primary-10: rgba(249, 200, 14, 0.1);
$Primary-Color: #F9C80E;
$Secondary-50: rgba(75, 60, 4, 0.5);
$Secondary-Color: #4B3C04;
$Black-10: rgba(0, 0, 0, 0.1);
$Black-65: rgba(0, 0, 0, 0.65);
$Black-Color: #000000;
$Black-Color2: #191919;
$Black-Linear-Gradiant: linear-gradient(71.69deg, rgba(0, 0, 0, 0.988235) 1.15%, rgba(0, 0, 0, 0.977647) 14.53%, #000000 27.4%, #000000 34.1%, #000000 42.85%, rgba(0, 0, 0, 0.96) 47.48%, rgba(0, 0, 0, 0.87) 49.54%, rgba(0, 0, 0, 0) 100%);

/*======================================
        Font Size Variables
=======================================*/

$font-size-80px: 80px;
$font-size-60px: 60px;
$font-size-40px: 40px;
$font-size-24px: 24px;
$font-size-20px: 20px;
$font-size-18px: 18px;
$font-size-16px: 16px;
$font-size-14px: 14px;
$font-size-12px: 12px;

/*======================================
        Line Height Variables
=======================================*/

$line-height-100px: 100px;
$line-height-80px: 80px;
$line-height-56px: 56px;
$line-height-36px: 36px;
$line-height-32px: 32px;
$line-height-28px: 28px;
$line-height-24px: 24px;
$line-height-22px: 22px;

/*======================================
        Letter Spacing Variables
=======================================*/

$letter-spacing-06: 0.06em;
$letter-spacing-04: 0.04em;
$letter-spacing-03: 0.03em;

/*======================================
        Font family Variables
=======================================*/

$Font-Family-Poppins-SemiBold: "Poppins-SemiBold";
$Font-Family-Poppins-Regular: "Poppins-Regular";
$Font-Family-Poppins-Bold: "Poppins-Bold";
$Font-Family-Orbitron-Medium: "Orbitron-Medium";
$Font-Family-Orbitron-Regular: "Orbitron-Regular";
$Font-Family-Orbitron-Bold: "Orbitron-Bold";
$Font-Family-Orbitron-SemiBold: "Orbitron-SemiBold";


/*=====================================
        Color Variable's
=====================================*/

$White:#FFFFFF;
$White-75:rgba(255, 255, 255, 0.75);
$White-10:rgba(255, 255, 255, 0.1);
$primary-color:#F25867;
$primary-light:#fcdee1;
$black:#000000;
$White-65: rgba(255, 255, 255, 0.65);
$black-75:rgba(0, 0, 0, 0.75);
$black-40:rgba(0, 0, 0, 0.4);
$black-10:rgba(0, 0, 0, 0.1);
$black-3:rgba(0, 0, 0, 0.03);
$Gray-1:#BBBBBB;
$conic-gradient: conic-gradient(from 180deg at 50% 50%, #F25867 0deg, rgba(242, 88, 103, 0) 360deg);

/*=====================================
        Effect Styles
=====================================*/

$Background-Blur: blur(25px);
$Box-Shadow: 0px 15px 10px rgba(242, 88, 103, 0.1);
$Box-Shadow2: 0px 10px 40px rgba(0, 0, 0, 0.1);

/*=====================================
        Font Size of Variable's
=====================================*/

$Font-size-60px: 60px;
$Font-size-44px: 44px;
$Font-size-32px: 32px;
$Font-size-20px: 20px;
$Font-size-18px: 18px;
$Font-size-16px: 16px;
$Font-size-14px: 14px;
$Font-size-24px: 24px;

/*=====================================
     Variable's Line-Height
=====================================*/

$line-height-80px: 80px;
$line-height-56px: 56px;
$line-height-48px: 48px;
$line-height-36px: 36px;
$line-height-34px: 34px;
$line-height-32px: 32px;
$line-height-28px: 28px;
$line-height-40px: 40px;