@import"../../Commonstyle/variables";



.otr-header{
    margin-top: 150px;
    .container{
        .inner-header{
            padding: 80px 0px;
            @media only screen and (max-width: 991px) {
                padding: 48px 0px;
            }
            text-align: center;
            background-color: $White;
            border-radius: 40px;
            margin-top: 29px;
            position: relative;
            overflow: hidden;
            box-shadow: $Box-Shadow;
            &::before{
                content: "";
                width: 577px;
                position: absolute;
                z-index: 1;
                height: 577px;
                background: $primary-color;
                top: 0;
                left: -51px;
                border-radius: 100%;
                filter: blur(200px);
                opacity: 0.5;
                @media only screen and (max-width: 991px) {
                    display: none;
                }
            }
        }
    }
}